[2019-08-16 23:31] micheal-w-wells opened #56 "Range Use Plan versioning"
Range use plans are living documents and knowing what state they were in at any point time is going to be important moving forward.  Locking down past versions from erroneous updates (like the FTA data push) will be critical as well.

It looks like versioning was at least thought about during dev and when you update a plan record its id changes (which is odd).  Could be that a new record is gettin

[2019-08-19 17:34] micheal-w-wells opened #57 "Better PDF rendering"
Current way PDF's are generated works for a few RUPS and has issues with many.  Want to make a new page containing all the regular RUP page components and generate pdf using that page.

Will explore offerings online, react specific and otherwise then choose what is appropriate.

[2019-09-06 21:56] twostoryrobotrange opened #59 "Increase test coverage"
We would like to add some integration tests that verify the data is getting into and out of the database correctly as well as add coverage for the api requests.

This will help ensure that when we make versioning changes we are not breaking functionality.

Endpoints that still need tests:

### Plan
- [x] Minister issues
  - [x] Minister issue actions
- [x] Invasive plant checklist
- [x] Pastures

[2019-10-01 18:40] micheal-w-wells opened #60 "Set up Usage info for 'past agreement date' RUP's on initial Create"
The need to extend Usage past agreement dates in FTA means the Create RUP will need to be done prior to a Range officer leaving cell service.  Putting the logic in the API will save us from baking the same smarts into both the iOS app and the web app.

[2019-10-11 16:24] micheal-w-wells commented on #57
duplicate, has since been broken down into other issues

[2019-10-11 16:24] #57 closed, assigned to nobody

[2019-10-11 20:59] micheal-w-wells opened #61 "Check if anything should have synched over since Sept 27"

[2019-10-11 21:00] micheal-w-wells opened #62 "Add logging and/or notification of failure to daily job"

[2019-10-11 21:00] micheal-w-wells opened #63 "Resolve synch issue"

[2019-10-11 21:00] micheal-w-wells opened #64 "FTA ORDS Endpoint not callable from postman or logged in daily job"
FTA endpoint should work or we should receive notification when it is down.

I'm lumping FTA stuff in with the range-api repo for lack of a better place to put it.
 @LisaMoore1 in trying to manually call our FTA endpoint to compare to some test data I got an error.  Looking at the data the last time an agreement was updated in Myra was September 27.

[2019-10-11 21:03] micheal-w-wells commented on #63
@LisaMoore1  Reached out to lab to see who the ORDS person is now.  Cailey is on holiday and she no longer is a dba but works for platform services so it must be somebody new.

[2019-10-11 21:05] micheal-w-wells commented on #64
`		The request could not be mapped to any database. Check the request URL is correct, and that URL to database mappings have been correctly configured
`

[2019-10-11 21:07] micheal-w-wells commented on #64
I've ruled out that I have the URL wrong because they would have had to specifically set it up on the API gateway as `https://api.nrs.gov.bc.ca` , and the error we are receiving is an ORDS error and not a gateway one.

[2019-10-18 16:01] micheal-w-wells opened #67 "API tests failing in PR check"
I added the same kind of PR check to run tests as we have on web, as some kind of setp forward to automating security vulnerability PR's once we have more tests.

Right now its failing though:  https://github.com/bcgov/range-api/runs/265784212

@calebissharp do you think this is specific to the run time env?

[2019-10-18 16:05] calebissharp commented on #67
@micheal-w-wells Yep definitely. The tests will need the same environment as when you run them locally, like the test DB. You'll have to figure out some way to get that running in github actions, if there's a way to do that.

[2019-10-18 17:44] micheal-w-wells commented on #67
It's interesting that the agreement route tests are ok but the rest fail.  Looks like same things failing in openshift, so fix will be the same here and there i'd imagine.

[2019-10-25 17:10] micheal-w-wells commented on #60
parked this one and did web only as that was a bit faster to get out, and still gets us closer to the right information on the PDF

[2019-11-04 22:10] #61 closed, assigned to nobody

[2019-11-04 22:10] micheal-w-wells commented on #62
done in metabase

[2019-11-04 22:10] #62 closed, assigned to nobody

[2019-11-04 22:11] #63 closed, assigned to nobody

[2019-11-04 22:11] #64 closed, assigned to nobody

[2019-11-04 22:13] micheal-w-wells opened #69 "update ORDS query"

[2019-11-04 22:13] micheal-w-wells commented on #69
needs to be `CREATE OR REPLACE VIEW FTA_RANGE_CLIENT AS

SELECT

       PFU.FOREST_FILE_ID

     , FFC.CLIENT_NUMBER

     , FFC.CLIENT_LOCN_CODE

     , DECODE(VCP.CLIENT_TYPE_CODE,

              'I', VCP.CLIENT_NAME || ', ' || VCP.LEGAL_FIRST_NAME || ' ' || VCP.LEGAL_MIDDLE_NAME,

              VCP.CLIENT_NAME) CLIENT_NAME

     , FFC.FOREST_FILE_CLIENT_TYPE_CODE

     , FFC.LICENSEE_START_DATE

[2019-11-04 22:14] micheal-w-wells commented on #69
Was told we need link to source code for ords, waiting to hear back from application delivery on where that is, and will get this updated in Dev first.

[2019-11-04 22:14] micheal-w-wells opened #70 "update import.js script to include status type code"

[2019-11-04 22:15] micheal-w-wells commented on #70
Currently status codes are not included in what is persisted, we need to update ref_client to accommodate this extra info.

[2019-11-04 22:16] micheal-w-wells opened #71 "add status column to ref_client"

[2019-11-04 22:18] micheal-w-wells commented on #71
For the FTA old client problem, we need a column to store status, so we can filter for actives after the fact.    This issue is for the work to backup the table, alter the table, etc.

[2019-11-05 23:37] calebissharp opened #73 "Add missing CRUD endpoints"
Some resources are missing certain CRUD endpoints. This issue tracks which have been implemented and which still need to be added.

- [x] Additional requirements
  - [x] update
  - [x] delete
- [x] Plant communities
  - [x] delete
- [x] Plant community actions
  - [x] update
  - [x] delete
- [x] Indicator plants
  - [x] update
  - [x] delete
- [x] Monitoring areas
  - [x] update
  - [x] delete

[2019-11-06 21:01] #59 closed, assigned to calebissharp, twostoryrobotrange

[2019-11-07 21:42] LisaMoore1 commented on #60
@micheal-w-wells Does this one need to stay in next sprint or is it open for prioritizing?

[2019-11-12 23:04] LisaMoore1 commented on #60
@micheal-w-wells Will this issue see any action this sprint or does it belong somewhere else for now?

[2019-11-13 23:25] micheal-w-wells commented on #69
reached out to team a few times got the right names now, they are updating query to above in dev

[2019-11-14 22:46] micheal-w-wells commented on #60
@LisaMoore1 can ice this one, we're just rolling with the range-web solution for now

[2019-11-20 00:23] micheal-w-wells commented on #71
`alter table ref_client add column forest_file_client_type_code text;`

[2019-11-20 00:23] micheal-w-wells commented on #71
done in  dev

[2019-11-20 00:24] micheal-w-wells commented on #71
done in test

[2019-11-20 00:25] micheal-w-wells commented on #71
done in prod

[2019-11-20 00:25] #71 closed, assigned to nobody

[2019-11-26 18:35] LisaMoore1 commented on #56
@calebissharp @micheal-w-wells Is this part of the versioning work we are working this sprint? If so can one of you move it to sprint backlog?

[2019-11-27 20:58] micheal-w-wells opened #82 "fix broken fta sync"
fixed in #81

[2019-11-28 19:18] micheal-w-wells commented on #82
still broken update to template didn't stick, looking now @LisaMoore1

[2019-11-29 00:41] micheal-w-wells commented on #82
should have been XS but `oc process` fought my template to no end and then randomly accepted it.

[2019-11-29 00:42] #82 closed, assigned to nobody

[2019-12-02 19:59] micheal-w-wells opened #85 "Need to ignore staff BCEID's when updating zones in import.js"
Zones getting incorrectly assigned to staff BCEID's when they share the same email.

[2019-12-02 23:22] micheal-w-wells opened #86 "EDIT: Address lack of loc code in plan confirmation"
During FTA synch outage, a number of RUPs were created with wrong client pointers, leading up to incorrect client_id getting set in plan_confirmation.

[2019-12-03 23:16] micheal-w-wells opened #87 "Occasional BCEID login when expecting to see an IDIR"
Thinking its an SSO problem, have reached out to the lab.

[2019-12-04 00:10] micheal-w-wells commented on #87
to quote someone from the lab 'common user complaint with CLP for years'

[2019-12-04 21:34] micheal-w-wells commented on #87
need to investigate if we can intercept this and try to hit SSO again to get correct IDIR login

[2019-12-05 16:20] micheal-w-wells commented on #86
@LisaMoore1 the same list of client id's applies to this one.  If those all look stale (and particularly like we shouldn't be waiting on a signature from them) then I can clear these out.

Marking as 'ready to test' but again its more of a 'spot check data'

[2019-12-05 21:42] micheal-w-wells commented on #86
Unfortunately, to just clear these out based on the client id (and not location code), is a bit troublesome.

If there are any plan confirmation records with client ids that aren't pulled down from FTA every day we can safely clear those out (that last list I sent would be my reference for doing so).  It's those that do exist in both lists (current and plan confirmation), that we are unsure about

[2019-12-05 21:44] micheal-w-wells commented on #86
leaving ready to test as there's still a number of records we can clear up once lisa has had a chance to review the stale client list.

[2019-12-06 19:22] micheal-w-wells opened #88 "Location code shouldn't be displayed when choosing client to link in Manage Clients."
AH may have multiple location codes for their client number, and in order for them to see all their agreements we shouldn't link their BCEID to a single location code.

[2019-12-06 19:26] micheal-w-wells opened #89 "Only one record in ref_client for clients regardless of how many loc codes they have"
Only a single client record ends up in ref_client despite AH having multiple location codes for a given client number.

[2019-12-06 19:29] micheal-w-wells opened #90 "client tables in myrange poorly linked"
No way to know in client_agreement which client + loc should be there.

Should have a unique key for client + loc records if each of those is an 'FTA record'.

[2019-12-06 19:46] micheal-w-wells opened #91 "Some ranchers claim to have logged in but there is no evidence it happening."
Guinea pig to for investigation is from Thompson Rivers District, will monitor next attempt and verify that the issue is BCEID or MyRangeBC.

[2019-12-09 16:54] LisaMoore1 commented on #86
@micheal-w-wells When you are satisfied with this one can you please close it? Thx

[2019-12-09 17:53] #86 closed, assigned to nobody

[2019-12-09 23:07] micheal-w-wells commented on #91
@LisaMoore1 Taylor reminded me that we once had this issue because we had somehow linked to an archived record.  Let me know when you have a chance and we can see if any of Krista's issues could be from the same thing.

[2019-12-09 23:18] calebissharp commented on #73
Added by #77

[2019-12-09 23:18] #73 closed, assigned to calebissharp

[2019-12-09 23:27] micheal-w-wells commented on #91
after some coffee I don't think this is the same issue as these people aren't showing up in user_account

[2019-12-10 22:49] micheal-w-wells commented on #90
@LisaMoore1 do client + loc codes get recycled? or are they only ever associated to one RAN ever?

[2019-12-10 22:58] LisaMoore1 commented on #90
@micheal-w-wells Client+loc combination only ever applies to specific client doing business either on their own or with specific joint venture partners. Example:
12345678-00 Lisa on her own (-00 is almost always the person/business on their own)
12345678-01 Lisa with Mike as a JV partner in DND
12345678-02 Lisa with mike as a JV partner in DSS

The 8 digits always refers to the individual/business

[2019-12-10 23:04] micheal-w-wells commented on #90
ok that helps a lot thank you!!

[2019-12-12 22:41] micheal-w-wells opened #97 "Schedule clone"
Some range officers requesting ability to clone schedule forward to next year, guts to go in range-api and a button for web.

In interim can run this SQL for them:   (to be pasted here, only part of this getting done sprint 4 to save time on manual updates)

[2019-12-13 17:29] micheal-w-wells commented on #90
is there any other field other than the RAN # itself that links two clients together on a venture?

[2019-12-16 17:55] LisaMoore1 commented on #90
@micheal-w-wells I'm not sure I completely understand the question but I think that is accurate. The RAN will be associated with the multiple clients that FTA added because of the primary's Client#-locn.  I think the only place we pull client info is as it relates to the RAN.

When we add agency agreements we will end up in a situation where a client wants a different agent associated with each of

[2019-12-16 18:28] calebissharp commented on #97
@micheal-w-wells This exists already, no? You are able to copy schedules into another year.

[2019-12-16 18:32] micheal-w-wells commented on #97
ah so it must have been a state thing @calebissharp (wasn't in draft but they wanted it copied).  I thought this was an ipad only thing still.

thanks for the correction

[2019-12-16 18:34] calebissharp commented on #97
@micheal-w-wells Yeah, that would make sense. As well, it's only agreement holders that can copy schedules. Is this something the range officers want to be able to do themselves though?

[2019-12-16 18:35] micheal-w-wells commented on #90
Carrying the agency agreement thinking forward here, do each of those agents have their own client (and maybe location) code?  How to identify regular agreement holder vs agent?

[2019-12-16 18:56] micheal-w-wells commented on #90
@calebissharp i'm thinking computed column that is 12345-12 (client + loc) so its easy to read and we'll call it client_location_id.  We'll add it to ref_client, as well as client agreement and plan confirmation.  The task then will be to track down the code that puts client records in client_agreement and plan_confirmation and make sure that its getting the right records also.  This making sense

[2019-12-16 18:58] micheal-w-wells commented on #97
@calebissharp yes it was staff asking for it, I think that opening up this feature to staff would be appreciated.

[2019-12-16 19:11] micheal-w-wells opened #100 "P and C client FTA records out of synch in ref_client."
scripts/import.js pulls in client records from FTA, but the source query for that endpoint excludes 'P' and 'C' records.  These are 'not active' for our intents and purposes and we need to:

1.  Get them included in the query so we can update them on our end (They just need confirmation from us that we are ready, I've filled out all the paperwork).
2.  Make sure we filter these records when lookin

[2019-12-16 19:12] micheal-w-wells commented on #70
duplicate,  its forest_file_type_code we care about.

[2019-12-16 19:12] #70 closed, assigned to nobody

[2019-12-16 19:31] LisaMoore1 commented on #90
@micheal-w-wells Couple other comments. Not all agents will have client #s or location codes (ex. the ranch manager who is acting as an agent for the company for that specific RAN). Both AH and their agent will need to be able to view, edit and sign for the relevant RANs.

When fully developed agency agreements:
- have a time bound nature (expires on specific date after which agent no longer has a

[2019-12-16 19:32] calebissharp commented on #97
Closing in favour of https://github.com/bcgov/range-web/issues/400, since this is no longer an API issue.

[2019-12-16 19:32] #97 closed, assigned to calebissharp

[2019-12-16 19:43] micheal-w-wells commented on #89
https://github.com/bcgov/range-api/blob/28a3fef275c9cd1da7123efab220fd0131f7d3b9/scripts/import.js#L403 I think is why there's only one record per client

[2019-12-16 22:03] micheal-w-wells opened #102 "create file upload/read/delete operations"
main use case: pdf map.

[2019-12-16 22:12] mccullochk commented on #102
Table fields: `id`, `plan_id`, `file`, `created_at`, `creator_id`

[2019-12-16 23:15] micheal-w-wells commented on #100
moving this to in progress as I'm asking ORDS group to update query in dev/test but the code portion of this is up for grabs

[2019-12-16 23:52] micheal-w-wells commented on #88
It isn't, location code is just displayed when we pull up the list of clients in the manage client page.  Renaming issue to reflect the problem.

A separate but very related issue is making sure a list of distinct client numbers is displayed (once ref_client has all locations) is the only follow up to this one.

[2019-12-17 19:28] calebissharp opened #103 "Agreements should be versioned"
Agreements should be versioned to keep a history of changes to clients.

Planned changes:
- [ ] Add `version` column to `agreement` table
- [ ] When creating new plans, add it to the latest version of an agreement
- [ ] When a new version of an agreement is created, the current versions of any RUPs attached to the previous agreement should be updated to point to the new agreement.
- In FTA import

[2019-12-17 23:56] micheal-w-wells commented on #90
@calebissharp can I get a knex migrations primer?  I can manually run SQL to do this easily enough but if we are trying to keep things consistent I'll do it that way.

[2019-12-17 23:56] micheal-w-wells commented on #90
maybe tomorrow morning we can crush this one together

[2019-12-17 23:57] LisaMoore1 commented on #90
@micheal-w-wells when you draft up some sort of plan for the relationship for this data can I have a look?

[2019-12-18 00:03] calebissharp commented on #90
@micheal-w-wells Yeah, I can go over it with you tomorrow morning. The gist of it is that you run `knex migrate:make name-of-migration` and edit the file it creates. You can also just use the `knex.raw()` function to directly execute SQL if you don't want to use the DSL syntax. `src/libs/db2/migrations/20191023143720_create-plan-version.js` is a good example.

[2019-12-18 00:07] LisaMoore1 commented on #90
@micheal-w-wells  My main interest is confirming that our data model (or querying) accurately captures the relationship between CLIENT+locn and RAN in a way that is accurate (and hopefully accommodating). How we arrives there is magic to me.

[2019-12-18 00:08] micheal-w-wells commented on #90
What we spitballed this morning is another ID column on ref_client, that uniquely identifies a client + loc code at a point in time (e.g., client 1234 loc 2 at status A).  That ID is what gets associated to the versioned RUP,  and in that way even if the client changes from status A to P,  the RUP keeps what was there.  Should new RUPs be created they should get the newest client + loc + status as

[2019-12-18 19:28] micheal-w-wells opened #105 "import job does not calculate total non usage correctly"
should be adding
"non_use_nonbillable": 0,
  "non_use_billable": 0

[2019-12-18 22:26] LisaMoore1 commented on #56
@calebissharp Is there anything I should be doing to support this?

[2019-12-19 00:24] calebissharp commented on #56
@LisaMoore1 Other than the usual frontend testing to make sure everything is still working, I don't think so. I've also noticed a few bugs in endpoints that I've gone in and fixed to resolve some of the frontend issues.

[2019-12-19 19:30] calebissharp commented on #88
Closing in favour of https://github.com/bcgov/range-web/issues/418, since this is a frontend bug.

[2019-12-19 19:30] #88 closed, assigned to nobody

[2019-12-19 19:35] calebissharp commented on #105
@LisaMoore1 I'm pinging you, in case you don't see the `range-api` issues.

[2019-12-19 19:39] calebissharp opened #108 "Old pseudo-versioned plans need to be migrated to new system"
The previous "versioning" that was done created multiple plans for an agreement. These records should be updated to all have the same `canonical_id` value (most likely set to the id of the latest plan), and related `plan_version` rows created. Preferably, this will be some kind of script that we will run once after merging the versioning changes into prod.

[2019-12-19 23:52] micheal-w-wells commented on #103
lets do https://github.com/bcgov/range-api/issues/90 first

@calebissharp to upload pic to jog our memory

[2019-12-19 23:56] micheal-w-wells commented on #90
![image](https://user-images.githubusercontent.com/955467/71218874-0a277780-2278-11ea-870a-cebe05269d43.png)

[2019-12-20 19:21] micheal-w-wells commented on #100
was approved yesterday, pending notification from dba

[2019-12-20 19:24] micheal-w-wells commented on #89
@LisaMoore1 I'm thinking the best way to test this one is to run the import job in test again,  and export the records in client ref to check against FTA.

[2019-12-20 19:29] micheal-w-wells commented on #91
This one is pending a RO working with AH and myself to coordinate another try and see if we can reproduce/troubleshoot further.

[2019-12-20 19:30] micheal-w-wells commented on #87
marking as blocked because its a long running existing issue gov-wide.

[2019-12-20 19:31] micheal-w-wells commented on #69
will resolve #100

[2019-12-20 20:00] micheal-w-wells opened #109 "Set up daily automated backups of myrange db"
I've been taking weekly backups (its a very small chore) but a recent issue for Krista made me wish i had one from yesterday to do analysis.  Failed previously at setting up automated ones (openshift-foo was weak) but yesterday managed to get the backup app configured in prod.  Right now there is a 'storage freeze' (more specifically with the nfs-backup storage class).  Once that is resolved after

[2019-12-20 22:18] micheal-w-wells commented on #102
Spoke with platform services and they are going to help us get set up on minio.  Will regroup with them in new year and also start process with NR MISO (assigned security person).

[2019-12-23 16:49] micheal-w-wells opened #111 "fta sync failed over weekend"
friday at noon should have been first failure

[2019-12-23 16:59] micheal-w-wells commented on #111
Looks like when we did our last promotion of api to an extra click was interpreted by jenkins and we went to prod.  Rolling back.

[2019-12-23 18:56] micheal-w-wells opened #112 "plans not loading in prod"
rolling back to our old deployment used an older deploy config missing the newer postgresql port, adding it and restarting pods resolved the issue.

[2019-12-23 18:57] #112 closed, assigned to nobody

[2019-12-30 17:11] micheal-w-wells commented on #111
rolling the range-api deployment back fixed the plan loading issue but seems to not have affected the cron-job which is still failing on the new code.

[2019-12-30 17:45] micheal-w-wells commented on #111
Changed the image stream tag from `latest` to `prod` in `cronjob-fta-import` template yaml via the web console for now.  Should point to the same ref of the rolled back code for range-api that is in prod.

[2019-12-31 19:15] micheal-w-wells commented on #111
Trying a second scheduling of the job (includes 'temp' in name) that will hopefully pull the right template/image stream tag.  The other job will continue to run but fail, and once the range-api deployments catch up we can delete the temp job.  Will see if it worked after noon today.

[2019-12-31 21:21] micheal-w-wells commented on #111
WORKS finally.

[2019-12-31 21:21] #111 closed, assigned to nobody

[2020-01-06 17:05] LisaMoore1 commented on #105
@calebissharp @micheal-w-wells If I need to test this one I need to know which RANs to take a look at. Thx.

[2020-01-06 17:07] LisaMoore1 commented on #89
@micheal-w-wells Any updates/suggestions for test on this (and related ones)?

[2020-01-06 23:40] micheal-w-wells commented on #100
Poked DBA today to see if we can get this in to dev ASAP, we have approvals at this point but the dates i asked for have since past.  Will call DBA tomorrow if i don't hear back.

[2020-01-08 21:29] calebissharp opened #115 "Client ID migration script should also be responsible for migrating old data"
On top of the table schema alterations, the migration script should also actually _migrate_ the existing data.

[2020-01-08 21:45] micheal-w-wells commented on #100
Unblocking as this is supposedly happening on Monday the 13th in test.

[2020-01-09 18:13] calebissharp commented on #115
Resolved by #116

[2020-01-09 18:13] #115 closed, assigned to calebissharp

[2020-01-13 23:14] micheal-w-wells commented on #109
they provided storage just need to carve out time to wrap this one up.

[2020-01-13 23:36] micheal-w-wells commented on #100
Update applied but our creds aren't working in dev, I have requested a reset then I will run the FTA jobs in test.

[2020-01-13 23:36] micheal-w-wells commented on #105
Will do.  Rerunning as soon as our password is reset in dev/test.

[2020-01-15 22:30] LisaMoore1 commented on #108
@calebissharp RAN099952 amendments were all created after versioning work so not sure if using the amend workflow created pseudo versions or actual versions (using new versioning system)

[2020-01-15 23:15] calebissharp commented on #108
@LisaMoore1 That would be the old way still. https://github.com/bcgov/range-web/pull/475 implements the new versioning for amendments.

[2020-01-16 00:16] #69 closed, assigned to micheal-w-wells

[2020-01-16 00:24] micheal-w-wells commented on #100
Ok we can login and the query is update.  Wow.

Now comes the running of the import job.  Tried to run against test but got an error, searched the source code AND the input file and couldn't fine the string being referenced.  @calebissharp is this ringing any bells for you that it isn't for me?

`Error with message = total_non_use is not defined, usage year 1992 row: 195
Error importing data, mess

[2020-01-16 00:33] micheal-w-wells commented on #100
`total_non _use` is in the usage.js model in /libs/db2 and it is a column in the db and it isn't referenced in import.js.  Missing something obvious going to come back to this one.

[2020-01-16 16:34] calebissharp commented on #100
@micheal-w-wells This is what I fixed before: https://github.com/bcgov/range-api/pull/110/files#diff-70f0920193b81c3f6e43aa3eac9d69c2. Maybe you're using an older version of the repo?

[2020-01-16 17:22] micheal-w-wells commented on #100
@calebissharp I think I ran 'npm run build' in the wrong tmux window, gonna try again right now

[2020-01-16 18:14] micheal-w-wells commented on #90
done in #110

[2020-01-16 18:15] #90 closed, assigned to micheal-w-wells, calebissharp

[2020-01-16 20:57] micheal-w-wells commented on #100
RAN076364 in Test looks good to me.  It will have to be the test instance of FTA if you want to see what it looks like there, otherwise I can do a dump of ref_client.  I have also slack'd the list as it comes over from test FTA (filtered for just that RAN) to Lisa.

We might want to really look at blowing away the test db because we have RANS now from two instances of FTA and I'm not sure where th

[2020-01-16 21:40] micheal-w-wells commented on #105
I've assigned the following test rans to you @LisaMoore1 Note test FTA is not the same as real FTA.  I'll slack ya the usage file to go along with these:
`
myra=# select forest_file_id from agreement where forest_file_id in (select agreement_id from ref_usage where total_non_use > 0 and year > 2020) and created_at

 forest_file_id
----------------
 RAN076006
 RAN075936
 RAN076336
 RAN071003
 RAN07

[2020-01-20 17:19] micheal-w-wells opened #117 "fix fta import job"
The activeDeadlineSeconds was set to too small a value causing a timeout.  Accidentally clobbered the config (not sure why cronjobs don't do dc/bc the same as actual containers) but its now restored as are the secrets that were clobbered in the process.

[2020-01-20 17:19] #117 closed, assigned to nobody

[2020-01-21 17:33] micheal-w-wells opened #120 "Approved instances/versions of plan should retain original active AH"
If an AH is in status A or B at time of approval, they should stay on that plan as such even once they are flipped to P or C in FTA.

@calebissharp swing by when you have time and lets make a game plan for this one if it isn't implemented yet, this is an important one to slam out.

[2020-01-24 00:22] calebissharp commented on #109
@micheal-w-wells Have you figured this out yet?

[2020-01-27 23:16] calebissharp opened #123 "Plan status history is being lost when a new version is created"
The plan status history is attached to the plan's id, and references the oldest version of a plan, even after a new version of the plan is created with a different ID. Possible solutions are to reference the canonical ID of the plan instead, or version the `plan_status_history` table.

[2020-02-04 18:17] micheal-w-wells opened #130 "staff contact # not always updating to reflect FTA"
confirmed for RAN074242 the issue is definitely `import.js`

[2020-02-06 20:05] calebissharp opened #131 "Replace versioning with JSON snapshots"
We've decided to move away from the current versioning system that was using a complex system of `canonical_id`s and data duplication to keep historical data, in light of new conditions under which this system would not perform well. The replacement is to use a simple JSON snapshot of the entire contents of a plan whenever major changes are made (ie. when a new version of the plan becomes approved

[2020-02-06 21:37] micheal-w-wells opened #132 "Archived licenses from FTA orphaned in Myra db"
Similar to agreement status issue.

[2020-02-08 00:21] micheal-w-wells commented on #130
You should see your phone number show up on RANS in test @LisaMoore1

[2020-02-08 00:22] micheal-w-wells commented on #130
#133

[2020-02-14 18:47] micheal-w-wells commented on #100
@LisaMoore1 I think we are good to push that query update to ORDS in prod based on test with RAN070592.  I think if there are statuses other than A B P and C we should add those too otherwise they will have the same issue.

[2020-02-14 19:51] micheal-w-wells commented on #100
OK so we nailed down the new version of the ORDS query is good but there's still an issue with the import related to client_agreement.  Stand by.

[2020-02-20 20:50] micheal-w-wells commented on #100
https://web-range-myra-test.pathfinder.gov.bc.ca/range-use-plan/175

If you have a couple more RANS you want to test it out on, give it a day for data to make the hop from test FTA to test ORDS, then I'll run the job again.

[2020-02-20 23:50] micheal-w-wells commented on #89
Sort of a tough one I don't have any examples from FTA but can say with certainty that for every client, the same record was getting overwritten in no particular order and landing a random location code in our import job.  This change was merged in some time ago (actually in another PR than the referenced one) so its been regression tested a few times already,  I'd say you are safe to close it.

[2020-02-21 00:10] micheal-w-wells commented on #91
Have yet to hear from another RO or AH on this.  Closing until there is something to work on.

[2020-02-21 00:10] #91 closed, assigned to micheal-w-wells

[2020-02-21 23:05] #89 closed, assigned to nobody

[2020-02-24 23:16] micheal-w-wells commented on #105
@LisaMoore1 are we good to close this one? This code has been live for awhile

[2020-02-24 23:20] micheal-w-wells commented on #132
AR, S, any others we'd need to include in the licensee query in order to hide these from staff and AH @LisaMoore1

[2020-02-24 23:23] micheal-w-wells commented on #132
Here's the original query for this one.

[code]

[2020-02-24 23:27] #105 closed, assigned to micheal-w-wells

[2020-02-24 23:28] LisaMoore1 commented on #132
@micheal-w-wells P (pending) will need some consideration but it is a "before" it is fully active rather than after so a different thing I think.

[2020-02-24 23:34] micheal-w-wells commented on #132
Ok so for the 'deleting' we'll leave those alone.  Thanks!

[2020-02-24 23:35] LisaMoore1 commented on #132
@micheal-w-wells I assume by "deleting" here you mean no longer visible in the regular work queue or accessible to initiate a plan or amendment. If that's the case all good.

[2020-02-24 23:36] micheal-w-wells commented on #132
That's right yep.  FOREST_FILE_CLIENT_TYPE_CODE or FILE_STATUS_ST  (for filtering for A, AR, P. etc)?

Hard to tell from the query because its filtering for A's in both.

[2020-02-25 00:06] LisaMoore1 commented on #132
@micheal-w-wells Just wondering if the query above is only going to create/replace for things that are 'A' at this point in time. I think we only want it to "create" for A and the P one(s) but we do want the ones that are now AR, RRS etc to get updated (replaced) to that in MyRA. I always have to think these queries over a million times but this one just raises question for me and I can't obviousl

[2020-02-26 00:40] micheal-w-wells commented on #100
This is live and going to be all done when the ORDS people do their jam on Thurs.  Closing.

[2020-02-26 00:40] #100 closed, assigned to micheal-w-wells

[2020-02-27 16:54] calebissharp commented on #131
Resolved by #134

[2020-02-27 16:54] #131 closed, assigned to calebissharp

[2020-03-06 16:50] micheal-w-wells opened #140 "Certain AH showing as "Not provided""
In edge case where they were a previous AH but are now the 'A', they are showing up as other. @LisaMoore1 here's an issue for the fix I did and data I sent to review.

[2020-03-09 15:45] micheal-w-wells commented on #132
The ORDS folks have been asked to update the endpoint in dev, we can flush out the above scenario you mentioned here @LisaMoore1  once it lands in test this week.

[2020-03-11 21:47] micheal-w-wells commented on #140
Import cronjob set to watch range-myra-api:hotfix temporarily to allow this to go out.  Checked in prod and things look good.

[2020-03-11 21:47] #140 closed, assigned to nobody

[2020-03-12 16:56] calebissharp commented on #102
@micheal-w-wells Are there any updates on minio?

[2020-03-12 16:57] calebissharp commented on #123
@LisaMoore1 Is this still an issue? I haven't noticed any weird behaviour with the status history for a while, but I wanted to check with you first.

[2020-03-12 16:57] calebissharp commented on #103
Closing because we decided to replace our versioning system with JSON snapshots.

[2020-03-12 16:57] #103 closed, assigned to nobody

[2020-03-12 17:52] LisaMoore1 commented on #123
@calebissharp I haven’t noticed it being an issue. I’ll keep my eye open but it can probably be closed now.

[2020-03-12 17:57] calebissharp commented on #123
@LisaMoore1 Sweet, thanks.

[2020-03-12 17:57] #123 closed, assigned to nobody

[2020-03-12 17:58] calebissharp commented on #67
Resolved by #114

[2020-03-12 17:58] #67 closed, assigned to nobody

[2020-03-12 17:59] calebissharp commented on #60
Closing in favour of clientside implementation.

[2020-03-12 17:59] #60 closed, assigned to micheal-w-wells

[2020-03-12 18:00] calebissharp commented on #56
@LisaMoore1 and @micheal-w-wells I'm going to leave this open until we're sure the JSON snapshots are capturing everything we need, but I think this is probably resolved.

[2020-03-13 20:33] micheal-w-wells commented on #130
this is long done.

[2020-03-13 20:33] #130 closed, assigned to nobody

[2020-03-17 23:20] micheal-w-wells opened #147 "cache raw ORDS data in myra"
Doing discrepancy checks always means the same thing, either directly querying ORDS/FTA or converting the JSON to CSV, dumping in a table, and comparing to what's in Myra.  If we cache the up to date ORDS data daily we can schedule a report in metabase to make sure things are set.  Right now it just checks the changed date on agreements.

[2020-03-20 22:15] micheal-w-wells commented on #132
/remind test

[2020-03-20 22:15] micheal-w-wells commented on #132
/remind me to look for the ORDS update next week

[2020-03-23 16:11] micheal-w-wells commented on #102
It looks like we can self request it, i put in a request for space to be provisioned and we just need to set up the container and try it out.  @calebissharp

[2020-03-25 21:05] micheal-w-wells opened #157 "Create active_client_accounts"
Related to https://github.com/bcgov/range-web/issues/418

Create user_id, client_id, type, where type is 'owner' or 'agent'

[2020-03-25 23:19] micheal-w-wells commented on #157
add linked by user as field
add changed date as field

Do we want history?

[2020-03-27 15:08] micheal-w-wells commented on #132
- [x] see if update is in dev
- [ ] test update interval with someone updating test FTA
- [ ] update import.js to deal with new license types and run import in test

[2020-03-30 18:24] micheal-w-wells opened #159 "DB Trigger: On client_agreement create and delete ---> create and delete plan_confirmation record"
Issue summary (Skip to bottom of issue for steps to test).

When no longer relevant client agreements are deleted, the plan confirmation record needs to get cleaned up.  Additionally, when clients are changed after the plan is created, they need to be created in plan_confirmation as well.

[2020-03-30 21:41] calebissharp commented on #157
@micheal-w-wells Instead of history, we could possible just add an `active` column. Then instead of deleting links we don't want anymore, we just set `active` to `false`.

[2020-03-30 21:53] micheal-w-wells commented on #157
I'll say yes to active/inactive, and a changed date column.  I suppose 'linked by' is only going to say 'myrangebc' at this point anyway.

[2020-03-31 16:42] micheal-w-wells commented on #159
- Only fire if there is a plan for that `agreement_id`
- Make sure to get the most recent plan if there are dupes
- `client_agreement on create`  makes appropriate `plan_confirmation` record for given clients.
- `client_agreement on delete` deletes appropriate `plan_confirmation` record for given clients.

[2020-03-31 16:57] calebissharp commented on #159
@micheal-w-wells Would it be possible to just add a `plan_confirmed` column to `client_agreement` instead? And remove the `plan_confirmation` table? Since we won't have more than 1 plan per agreement now.

[2020-03-31 17:00] micheal-w-wells commented on #159
@calebissharp that sounds pretty good, as long as we have a dedicated column for tracking the date signed rather than going off changed date on the table (there's a job that touches those regularly).

[2020-03-31 17:04] calebissharp commented on #159
Hmm that's a good point. Doable though. Any other gotchas you can think of? As far as I can think, it's just a one-to-one relationship.

[2020-03-31 17:15] micheal-w-wells commented on #159
Not necessarily a gotcha but very related is the need to notify staff that there are more people to sign the RUP.

[2020-03-31 17:30] calebissharp commented on #159
Notifications will be another beast altogether, regardless of how the actual submissions are tracked.

[2020-04-02 20:28] micheal-w-wells commented on #56
lets include:

legal status - last action / who put it there
date range it was legal

[2020-04-03 17:22] micheal-w-wells commented on #159
Resizing to reflect reality.  Also despite chatter here Caleb and I decided it would make sense with the time we have to just go the db trigger route.

[2020-04-03 20:19] micheal-w-wells commented on #159
Requires running FTA synch in TEST.  Steps (and a place to track) for testing:

1. Create or find a RUP with a client or two on it.
2. Change who is linked on it <--client + location + RAN. link in FTA, not user. <> BCEID linking.
3. Agreement signature shakedown:
    - [ ] You should get the right number of AH awaiting signatures
    - [ ] The AH should be able to complete
    - [ ] Their signatu

[2020-04-03 20:52] micheal-w-wells opened #163 "Hide amendment buttons for versioning fix release"

[2020-04-03 21:01] micheal-w-wells commented on #163
@calebissharp I haven't looked at git so I don't know how hard it would be to throw all amendment stuff in a branch and pop off from dev, but I'm assuming it would be a PIA as its been a WIP for awhile.  I'm cool with just commenting them out for this week if that works for you.

[2020-04-03 21:04] calebissharp commented on #163
@micheal-w-wells I don't think it makes sense to remove all the amendment implementation right now (it's also been partially implemented since the previous contractors anyways), so just hiding the button seems like the best solution.

[2020-04-03 21:08] calebissharp commented on #157
@micheal-w-wells I've found a potential roadblock with this solution. If a user is assigned to multiple client IDs, (for example, the **user** Leslie Knope is linked to the **clients** Leslie Knope and April Ludgate), and they go to sign a submission, how do we decide which client to attach the signature to? This would be especially tricky if both Leslie Knope and April Ludgate are agreement holde

[2020-04-03 21:14] calebissharp commented on #157
One possible solution I've though of is to display a dropdown in the navbar that would let the user select which client they want to act as. This could potentially come in handy for agency agreements as well.

[2020-04-03 21:27] micheal-w-wells commented on #157
I see what you are saying, but one user should only have to worry about one signature on each RUP.  I think if someone has two active client + loc codes in FTA for one RAN something is set up wrong on that end.  It would mean we are sending them two bills or they are a partner with themselves for the same agreement, or two AH are sharing a BCEID which isn't a thing.  The scenario you have given is

[2020-04-03 21:30] micheal-w-wells commented on #157
@LisaMoore1 am I out to lunch, can you think of a time where one BCEID should be attached to multiple clients on one RUP other than testing?

[2020-04-03 22:14] micheal-w-wells opened #164 "Add event and user_id to plan_snapshot."
![image](https://user-images.githubusercontent.com/955467/78408107-1d5a1b00-75bb-11ea-88cf-218856e2fd6e.png)
Note on the diagram I'm not sure about the first couple AH statuses codes there, but the rest LGTM.

To potentially support UI functions and my own well being in the long haul, I want us to add `event` and `user` to `plan_snapshot`.

I'm not concerned with a migration to back populate right

[2020-04-06 15:43] LisaMoore1 commented on #157
@micheal-w-wells Would this be an example?
- Joan and Frank are AHs — their grandson Marco is the agent for both of them
- I’m not sure because I’m not sure what you’re thinking for differentiating AHs from agents. I can’t think of a straight up AH situation where the same BCeID would be used to identify to separate people.
- wondering about a business but I don’t think that would apply because th

[2020-04-06 16:37] micheal-w-wells commented on #157
That helps @LisaMoore1, I just wanted to clear up @calebissharp 's concern here about Leslie and April both being clients for Leslie and being on the same RUP:

[2020-04-06 16:56] LisaMoore1 commented on #157
@micheal-w-wells and @calebissharp I’ve been taking the view that BCeID login/confirmation = a signature. Only one person can sign “their” signature therefore one BCeID = one client. In the case of a business they may have multiple signing authorities associated with that client. In range we aim to have a single person as our point of contact (the primary agreement holder where there are multiple

[2020-04-06 17:08] calebissharp commented on #157
Perhaps we should then move `plan_confirmation` to use the `user` id, rather than the `client` id. As well, maybe `client_agreement` should just be used to determine if a user has access to a given RAN based on the entries in `active_client_account`.

[2020-04-06 17:16] micheal-w-wells commented on #157
The gotcha scenario I have seen with that one @calebissharp is when an AH goes from a primary to secondary on a RUP (or otherwise use another client_id associated to that BCEID),  what do you do with their signature?  What we have now (with the last fix anyway) is that they would now have to sign again because of the new linkage (previously signatures were just broken in this scenario).  I'm not s

[2020-04-06 17:23] calebissharp commented on #157
Moving from primary to secondary doesn't actual change the `client` ID though, does it? And plan confirmations reference `ref_client.id`.

[2020-04-06 17:25] micheal-w-wells commented on #157
To summarize my understanding of what we need:

- 1 BCEID = 1 Client, where Client (with a big 'c') here we mean the literal person.
- 1 Client/person, can have multiple client (little 'c') records in FTA.  There are plenty of examples.  I'm operating on the assumption we don't want to make these people make multiple BCEIDs.
- 1 Client/person, can have multiple signing authorities for themselves
-

[2020-04-06 17:38] calebissharp commented on #157
So, if big 'c' Client represents a physical person/BCeID, than I think at least plan_confirmations should use the `user` id. (That's how it works in real life anyway. I assume you don't forge the signature of the person you're signing for as an agent). Then we just use little 'c' client records as a way of gating access to RANs for Client/person/BCeIDs (we could probably disambiguate things by adj

[2020-04-06 17:49] micheal-w-wells commented on #157
That works we just have to make sure not to carry a signature forward when it shouldn't.  I'd say put `signee` as one field and `signed for` as another `user_id` field.

I don't think we want to rely on name.  If I am an agent, the RUPS i can view are dictated by client + loc records assigned to me, so `user_id` : `client_id`, wherever we want to put that (plus a page/interface to do so).  I shoul

[2020-04-06 18:07] micheal-w-wells commented on #157
table: `agent_client_link`
`agent user_id`, `client_id`

[2020-04-06 18:12] calebissharp commented on #157
Just to clarify @LisaMoore1, in the context of agency agreements, it is __not__ possible to be the agent for multiple AHs on the same RAN?

@micheal-w-wells I think we have the `user_id`:`client_id` portion covered by `active_client_account`. I like the idea of `signee` and `signed for` on plan_confirmation. I assume those would be the same `user.id`s if someone signs for themselves. While we're o

[2020-04-06 18:24] calebissharp commented on #157
Also, after working with `active_client_account` a bit, I'd like to change the name. `user_client_link` seems more semantically useful.

[2020-04-06 18:40] calebissharp commented on #164
How do we determine what to send for `event`? Is it just a string column? As well, what advantages would this provide over the existing status history we have with `plan_status_history`?

`user` should be fairly straightforward to implement on the backend.

[2020-04-06 18:42] micheal-w-wells commented on #157
`user_client_links` it is.  Yes it would be themselves in case of them signing it, you got it.  Can't think of anything else using `client_id` that's at issue right now, but will keep eyes peeled.

Above it looks like @LisaMoore1 had this example I missed `Joan and Frank are AHs — their grandson Marco is the agent for both of them` .  If we can legally have one agent sign for both parties in this

[2020-04-06 18:45] LisaMoore1 commented on #157
@calebissharp
- a non-AH child of the AHs (a mom and dad venture) could be the agent for either OR both parents
- an AH child of the other AHs (family venture) could be the agent for either or both parents
- a non- family member could take the same roles as “child” above
- a business may have multiple signing authorities AND a ranch manager any of which could sign

**Principles**
- we need to know

[2020-04-06 18:48] calebissharp commented on #157
@micheal-w-wells What do you think the best way to look up which users to sign for based on the client is? Right now we have the `type` column which can be `owner` or `agent`. I'm thinking we add a constraint to only allow 1 `owner` record per unique `client_id`, to allow us to do a reverse lookup on `client_id` to get the associated user account (which we'd use for the `signed for` column in `pla

[2020-04-06 19:00] micheal-w-wells commented on #157
@calebissharp I think we would look it up the same we we looked up what RUP they can see.  This is my understanding anyway:

User BEN in `user_client_links` would be an agent for `client_id 123.`  We get `123`'s user_id from the same table.   I think your idea for a constraint works there.

We get then get RUPs he can see the same way we would get RUPs. for `client 123`.  We look in `client_agreem

[2020-04-06 19:08] LisaMoore1 commented on #157
@calebissharp @micheal-w-wells
Not sure if this adds to the understanding but you could also have a situation something like this:
- agent 1 acts as agent for two of the three individuals on RAN071234 and one of the individuals on RAN075678
- agent 2 acts as agent for the the remaining individual on RAN071234
- agent 2 also has their own RAN077890 that they hold on their own

[2020-04-06 19:10] calebissharp commented on #157
@micheal-w-wells We should be able to do sign for both. We may have to augment the data returned from `/user/me` to also include the relevant represented user accounts.

[2020-04-06 21:06] micheal-w-wells commented on #164
I guess the question is, is there a new row in `plan_status_history` for every row of `plan_snapshot` in all cases?   If yes then we're good its just writing the query, if not then we need to address it in one table or the other so I have a complete picture when troubleshooting.  If we can get it from `plan_status_history` a computed column on `plan_snapshot` would still be useful for me.

[2020-04-06 21:21] micheal-w-wells commented on #163
@LisaMoore1 @ZoeSimon I'm going to move all the amendment stuff in QA over to ice box while we work on this `versioning & client linking + misc fixes` release.

[2020-04-06 21:34] micheal-w-wells commented on #159
@LisaMoore1 @ZoeSimon can probably hold off testing this until Caleb's client linking changes come in, then we can test it all in one shot.

[2020-04-07 17:21] LisaMoore1 commented on #159
@micheal-w-wells Can we move this to in progress until it is ready to test so that only things that need action “today” are in Review/QA?

[2020-04-08 22:05] micheal-w-wells opened #167 "Make view snapshot_summary"
To help us with https://github.com/bcgov/range-web/issues/683 and at the very least testing/troubleshooting https://github.com/bcgov/range-web/issues/700 .  See https://github.com/bcgov/range-web/issues/700#issuecomment-611208676

[2020-04-09 21:06] calebissharp commented on #164
@micheal-w-wells Yep, I think we can safely assume that whoever has the latest entry in `plan_status_history` was the latest person to take action and therefore the latest person to create a version, whether we're just snapshotting on amendment creation or every status change. The only tricky thing will be if you want to snapshot on every save.

[2020-04-09 21:54] micheal-w-wells commented on #164
@calebissharp yep that's the tricky part, I'm interested in getting my query/view to work.  I think an undo button for drafts would be pretty sweet, and any prod form problems are likely going to be in draft so its extra logging for me down the road.  If i can't get it done today/this weekend or decide its futile my plan is to go back to `plan_status_history` and not snapping drafts.

[2020-04-17 22:30] repo-mountie[bot] opened #171 "Add missing topics"
# TL;DR

Topics greatly improve the discoverability of repos; please add the short code from the table below to the topics of your repo so that ministries can use GitHub's search to find out what repos belong to them and other visitors can find useful content (and reuse it!).

### Why Topic

In short order we'll add our 800th repo. This large number clearly demonstrates the success of using GitHub

[2020-04-17 22:37] jleach commented on #171
I added FLNR.

[2020-04-17 22:37] #171 closed, assigned to nobody

[2020-04-20 16:16] micheal-w-wells commented on #159
@LisaMoore1 I have very high confidence this works as I've tested it lots myself and I have been using the SQL to fix the ones that pop up in metabase.  Because this is a database only change, i realized I could apply it to prod ahead of time.  I've done so, as well as fix the remaining ones that we got alerted about on the weekend.  As this is all done I'm going to close it.

[2020-04-20 16:16] #159 closed, assigned to micheal-w-wells

[2020-04-21 17:18] micheal-w-wells commented on #167
Resizing to reflect reality.  This is a database view and is what now powers the version endpoint.  Until the web side of it is done its hard to test but i can do a query in the database to show what versions and their legal status is for a given plan in test.

[2020-04-21 17:32] micheal-w-wells commented on #157
@calebissharp this one is done isn't it? or does the name of the issue not really match the work anymore?

[2020-04-21 21:47] calebissharp commented on #157
Resolved by #162

[2020-04-21 21:47] #157 closed, assigned to calebissharp

[2020-04-22 15:25] micheal-w-wells commented on #164
I think we have the bases covered with #167 , closing.

[2020-04-22 15:25] #164 closed, assigned to nobody

[2020-04-22 15:25] micheal-w-wells commented on #164
note to self i put the label there because it has the picture

[2020-04-23 23:08] micheal-w-wells commented on #56
Closing as this was broken into a number of related issues that have been addressed.

[2020-04-23 23:08] #56 closed, assigned to micheal-w-wells, calebissharp, twostoryrobotrange

[2020-04-24 17:14] calebissharp opened #175 "Version endpoint test not passing due to additional fields"
@micheal-w-wells Looks like most of the version tests were actually being skipped; that's my bad. This led to some false positives when developing the additional information for the version endpoint. Are you able to resolve the failing tests at some point? It shouldn't be too tricky to do, we just need to add the missing fields to what the test expects the endpoint to return.

[2020-04-24 17:37] micheal-w-wells commented on #175
Yep works for me

[2020-04-24 17:46] calebissharp commented on #175
@micheal-w-wells Awesome, thanks. I should add that this should be fixed as soon as you have time, since it's going to throw off other PRs we open.

[2020-04-24 20:03] #167 closed, assigned to micheal-w-wells

[2020-04-24 21:21] #163 closed, assigned to nobody

[2020-04-24 21:34] calebissharp commented on #175
@micheal-w-wells If you haven't already started, I'm going to take a shot at this.

[2020-04-27 22:34] micheal-w-wells opened #179 "Migration issue blocking deployment"
We decided to do some last minute extra checks that versioning would play nice with the prod db on deployment, and found something that didn't.  I'll let Caleb fill in our techy details but making this to track the work.

[2020-04-27 22:37] micheal-w-wells opened #180 "Create pipeline action to test migrations against prod backup in secure environment"
We test migrations against many copies of the db during development and usually catch any gotchas, but to be extra safe one should always be tested against a prod backup prior to deploying.  This solution would do just that.

[2020-04-28 20:35] #179 closed, assigned to micheal-w-wells, calebissharp

[2020-04-28 22:55] micheal-w-wells opened #183 "fix metabase permissions for plan snapshot summary"
...and make a question that excludes the json column so it's viewable.

[2020-04-29 17:08] micheal-w-wells opened #184 "Only provide one 'Stands' record for the legal version list in 'get plan' endpoint"
There are a number of 'stands' statuses that an amendnent can roll through, and we only want one of them in the legal version list, the other context should be in the plan status window.

This issue is only to track work around making sure only one shows up in versions.

[2020-04-30 15:00] micheal-w-wells opened #185 "FTA import job deployment broken"
Likely deployment related, although it was tested.  Looking now.

[2020-04-30 15:08] micheal-w-wells commented on #185
Just looks like we had pointed it to a hotfix image stream to resolve a previous issue.  Deleting the job and repointing it at prod image stream.  Will close as soon as I see it work.

[2020-04-30 16:08] micheal-w-wells commented on #185
Worked, closing.

[2020-04-30 16:08] #185 closed, assigned to micheal-w-wells

[2020-04-30 21:02] micheal-w-wells opened #186 "FTA not always creating P or C records for deleted client locations."
In Phil's case we had a 01 and 02 that must have existed at some point in time because they synched, however because we never got a P or C for them they didn't get cleaned up, they still existed in ref_client and still existed in client_agreement, and also appeared as duplicated RANS on the home page until they were cleaned up manually.

Relates to https://github.com/bcgov/range-web/issues/510

[2020-05-01 22:02] micheal-w-wells opened #190 "Add amendment statuses to privacyView logic"
Flush out the appropriate (if any) privacy version for each amendment status. Relates to #683

[2020-05-05 19:59] micheal-w-wells opened #193 "Track which versions belong to discarded amendments"
Need a column to track if a version belongs to a discarded amendment.

Need to update amendment controller to populate column where applicable.

Name it `isDiscarded`.

[2020-05-05 20:00] micheal-w-wells opened #194 "Update plan_snapshot_summary to observe which versions are discarded from amendments"
depends on #193

will fix legal dates not making sense after discarding amendment.

[2020-05-05 22:59] calebissharp opened #196 "Create endpoint for discarding amendments"
The client right now is responsible for finding the latest legal version and restoring it using the `/version/:id/restore` endpoint. We should move that logic to a dedicated "discard amendment" endpoint. This endpoint should also be responsible for setting `is_discarded` to true for each discarded snapshot.

[2020-05-06 18:25] #193 closed, assigned to nobody

[2020-05-06 18:46] calebissharp commented on #196
Resolved by #197

[2020-05-06 18:46] #196 closed, assigned to calebissharp

[2020-05-06 21:30] micheal-w-wells commented on #194
Testing instructions:

Discard amendment, see previous legal version as still legally standing (go to versions and see what is there).  Other legal start and end dates make sense/are not missing.

[2020-05-06 22:57] micheal-w-wells commented on #184
@calebissharp should we try and follow the same pattern as discards I wonder?

[2020-05-07 19:05] micheal-w-wells opened #202 "change legal end date to be plan end date, and add 'is_legal' column"
Needed for the legal end date (of currently legal plan) to be the plan end date, but still allow the UI to know which version is legal.

[2020-05-07 19:13] micheal-w-wells opened #203 "Back end changes to allow user to see what kind of amendment each legal version is from"
dev summary:  add 'version_reason' to 'plan_snapshot_summary'

In order for the UI to display where a legal version came from (initial RUP, amendment, etc) we would need to add this to the versions endpoint.  The easiest way to do this I'm hoping is to add another computed column to the plan_snapshot_summary table.

I think with the queries that are there now, it should be relatively straightforwa

[2020-05-07 19:13] micheal-w-wells commented on #203
@calebissharp do you know the answers to this mad lib?

[2020-05-07 19:47] calebissharp commented on #203
Won't the amendment types just be minor and mandatory for C and D, respectively?

[2020-05-07 19:48] micheal-w-wells commented on #203
I didn't know if you gave em numbers or not that code is all new to me.  Also wondering is there a workflow where a ah minor beccomes a staff mandatory?  in that case is there a good way to split up group B

[2020-05-07 19:50] calebissharp commented on #203
Checkout `ref_amendment_type`

[2020-05-07 20:09] calebissharp commented on #203
Also yep, the PR I just opened adds the "Submit as Mandatory" option, which changes a minor amendment to mandatory.

[2020-05-07 20:14] micheal-w-wells commented on #203
sweet ok i dont think this is going to be that bad then

[2020-05-11 15:35] micheal-w-wells commented on #190
Shouldn't be able to see what the other person is working on.  If it is in a feedback or awaiting approval or approved state, everybody should see the live plan.

[2020-05-12 14:56] micheal-w-wells commented on #203
Going to close the api issue as its done and there's nothing for the user to test until range-web 789 referenced above (that uses it) is done

[2020-05-12 14:56] #203 closed, assigned to micheal-w-wells

[2020-05-12 16:19] micheal-w-wells commented on #202
backend changes for https://github.com/bcgov/range-web/issues/789

nothing to test until the UI side is done so closing to avoid confusion.

[2020-05-12 16:19] #202 closed, assigned to micheal-w-wells

[2020-05-21 23:01] ZoeSimon opened #217 "Api for file attachments - Minio"
**Describe the Task**
Make an endpoint to handle uploading attachments and another to download attachments.

**Additional Context**
Need to consider access controls and other attributes that might be needed.

Types of file attachments:
- [ ] map — required (until other map available)
- [ ] consultation record — optional
- [ ] stakeholder summary — optional
- [ ] other documentation — optional

[2020-05-22 21:01] micheal-w-wells commented on #190
Can I please get a volunteer to play partner tester with me (be the AH or staff) so I can view the DB at each step?  Doing it all myself and viewing the db at each step is prone to error.

[2020-05-22 21:04] micheal-w-wells opened #218 "discarded amendment did not get marked as such in db"
@calebissharp the first staff minor in this list was discarded but did not get marked as such:

[code]

[2020-05-22 21:36] #184 closed, assigned to micheal-w-wells

[2020-05-22 21:54] micheal-w-wells commented on #194
testing blocked by #218

[2020-05-24 02:51] calebissharp commented on #218
@micheal-w-wells I don't see the one that was discarded? That first staff mandatory amendment looks like it made it to approved, and the AH minor amendment after that looked like it went to stands.

Only AHs can submit minor amendments. All amendments by staff are mandatory. Assuming you mean staff mandatory, I can't see a discarded one here anyway.

[2020-05-25 13:22] micheal-w-wells commented on #218
my bad i meant that the ah minor didn't get discarded, or i lost count of how many i made, I'll try another today

[2020-05-25 17:13] #218 closed, assigned to calebissharp

[2020-07-03 15:18] calebissharp opened #231 "Create endpoint to get client agreements for a plan"
`GET /client/agreements/:planId` should return a list of all client agreements for the given `planId`. This endpoint should also return a populated `client` object based on the `client_id` column, as well as an `agent` object after #232 is implemented.

[2020-07-03 15:20] calebissharp opened #232 "client_agreement table should have an optional agent_id column"
`client_agreement` should have an `agent_id` column that references `user_account.id`. This column will be used to track agents for clients on an agreement.

[2020-07-03 15:23] calebissharp opened #233 "Create endpoint to update a client agreement"
eg. `PUT /client/agreements/:planId/:clientAgreementId`. We should probably only allow the `agent_id` column to be updated to prevent overwriting any data accidentally.

Relies on #232

[2020-07-03 20:28] #231 closed, assigned to calebissharp

[2020-07-03 20:28] #232 closed, assigned to calebissharp

[2020-07-03 20:28] #233 closed, assigned to calebissharp

[2020-07-06 14:13] #194 closed, assigned to micheal-w-wells

[2020-07-06 14:15] micheal-w-wells commented on #190
We can revisit once i get some time to build out our UI tests for this purpose, closing as the amendments are in there.

[2020-07-06 14:15] #190 closed, assigned to micheal-w-wells

[2020-07-15 16:28] #217 closed, assigned to calebissharp

[2020-07-30 15:29] #175 closed, assigned to micheal-w-wells

[2020-12-14 22:23] repo-mountie[bot] opened #257 "Add project lifecycle badge"
## No Project Lifecycle Badge found in your readme!
Hello! I scanned your readme and could not find a project lifecycle badge. A project lifecycle badge will provide contributors to your project as well as other stakeholders (platform services, executive) insight into the lifecycle of your repository.
## What is a Project Lifecycle Badge?
It is a simple image that neatly describes your project's s

[2020-12-16 16:34] #257 closed, assigned to micheal-w-wells

[2020-12-16 21:28] repo-mountie[bot] opened #258 "Add project lifecycle badge"
## No Project Lifecycle Badge found in your readme!
Hello! I scanned your readme and could not find a project lifecycle badge. A project lifecycle badge will provide contributors to your project as well as other stakeholders (platform services, executive) insight into the lifecycle of your repository.
## What is a Project Lifecycle Badge?
It is a simple image that neatly describes your project's s

[2020-12-17 17:48] #258 closed, assigned to micheal-w-wells, garywong-bc

[2021-12-20 21:39] repo-mountie[bot] opened #270 "It's Been a While Since This Repository has Been Updated"
This issue is a kind reminder that your repository has been inactive for 181 days. Some repositories are maintained in accordance with business requirements that infrequently change thus appearing inactive, and some repositories are inactive because they are unmaintained.

To help differentiate products that are unmaintained from products that do not require frequent maintenance, repomountie will